.acct {
    padding: 15px 25px;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
}

.acct:hover {background-color: #3e8e41}

.acct:active {
    background-color: #3e8e41;
    transform: translateY(4px);
}

.signin {
    padding-top: 130px;
    margin: auto;
    width: 50%;
}

.signup {
    padding-top: 20px;
    margin: auto;
    width: 50%;
}