.titleInfo {
    display: inline-block;
    margin-left: 20px; 
    vertical-align: text-bottom;
}

.titleInfo > p {
    display: inline-block;
    margin-left: 20px; 
}

.titleInfo > h2{
    font-weight: 700;
    display: inline-block;
    font-size: 1.6em;
}

.forumCard {
    margin: 20px 12% 40px 12%;
    border: 1px solid black;
    padding: 20px;
    color: black;
    text-decoration: none;
}

.forumCard > img {
    max-height: 120px;
    vertical-align: top;
}

.stats, .stats > p {
    display: inline-block;
    margin-left: 140px;
}

.subject {
    display: block;
    padding: 0;
    margin-left: 0;
}

.stats > p {
    margin: 10px 30px 0 0;
}

.category {
    position: absolute;
    right: 14%;
}