.itemTitle, .itemRating {
	text-decoration: none;
	color: black;
}

.card .itemInfo:hover {
	text-decoration: none;
}

.card:hover {
	background-color: grey;
	opacity: .8;
}

.grey {
	background: rgba(0, 0, 0, 0.75);
	opacity: 0;
}

.grey:hover {
	opacity: .5;
}

.card {
	border: 1px solid black;
	border-radius: 0;
	margin: 20px;
	display: inline-block;
	width: 250px;
	height: 295px;
	overflow: hidden;
}

.itemInfo {
	border-top: 1px solid black;
	padding: 5px;
	text-align: left;

}

.itemTitle {
	padding: 10px;
	font-size: .8em;
}

.itemRating {
	float: right;
	padding-right: 10px;
}

img, .card {
	text-align: center;
	vertical-align: middle;
}

img {
	max-width: 200px;
	padding: 5px;
}

.itemSummary {
	text-decoration: none;
	padding: 10px;
	color: black;
	margin: 0;
}