.navigation {
  z-index: 100;
  position: absolute;
  width: 100%;
  opacity: .85;
  background-color: #7280D7;
}

.navigation a {
  text-decoration: none;
  color: white;
}

.aboutLink {
  margin-right: 20px;
}

.navLink:hover {
  opacity: .5;
}

.searchLink {
  margin-right: 20px;
}