.productForm {
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;
    border: 2px solid #8793DD;
    border-radius: 8px;

}

/* .formInput {
    border: none;
    border-bottom: 1px solid #ddd;
    text-align: center;
} */

.formInput, .summaryInput {

    width: 90%;
    padding: 7px;
    border: 1px solid #C8CDEF;
    border-radius: 4px;
}

.title {
    padding: 100px 20% 20px 20%;
    text-align: center;
}

h2 {
    font-size: 1.1em;
}

.formLabel {
    width: 38%;
    min-width: 150px;
}

.titleLabel {
    width: 80%;
    min-width: 150px;
}
.summaryLabel {
    width: 80%;
}
.summaryInput {
    height: 100px;
    line-height: 30px;
}


.submitBtn {
    width: 25%;
    margin: 0 auto; 
    position: absolute;
}

@media screen and (max-width: 800px) {
    .titleLabel {
        width: 38%; 
        min-width: 150px;
    }
}