.content {
    text-align: center;
    padding-top: 80px;
}

.formLabel {
    width: 100%; 
    padding: 0 40px;
}

.submitBtn {
    width: 150px;
    background-color: #7383D5;
    border-radius: 10px;
    padding: 10px;
    color: white;
}

.radioBtn {
    float: left;
    margin: 10px;
}

.radios {
    margin-top: 20px;
}

.disab {
    text-align: center;
    margin: 10px 25%;
}

.dis {
    width: 100%;
    text-align: left;
}

.disab>h3, .radios>h3  {
    font-weight: 600;

}