.productTitle {
    margin: 0 25%;
    text-align: center;
    overflow: auto;
}

.info {
    position: relative;
    float: left;
    text-align: left;
}

h1 {
    font-size: 1.4em;
    font-weight: 700;
}

h2 {
    margin-top: 15px;
    font-size: 1.2em;
    font-weight: 100;
    color: grey;
}

img {
    float: left;
    height: 150px;
    margin-right: 60px;
}

.rating {
    right: 10px;
}

.summary {
    margin: 60px 17.5%;
}

.summaryTitle {
    color: black;
    font-size: 1.4em;
    font-weight: 700;
}


@media screen and (max-width: 900px) {
    img {
        margin-right: 5%;
    }
}

@media screen and (max-width: 750px) {
    .info {
        margin-top: 20px;
    }
}