.survey {
    background: linear-gradient(#5B8DA3, #76cccc);
    display: flex;
    flex-flow: column;
    height: 1000px;
    text-align: center;
}

.hello {
    margin-top: 15%;
    color: white;
    transition: 1s ease-in-out;
    
}

.hello h2 {
    margin: 40px 0 20px 0;
    font-size: 1.2em;
}

.question {
    visibility: hidden;
    text-align: center;
    color: white;
    left: 100%;
    position: absolute;
    width: 100%;
    transition: all 1s ease-in-out;
    float: right;
    margin: 15% auto 10px auto;

}

.question>button, .surveyBtn {
    padding: 10px;
    background-color: #30A2D0;
    border-radius: 10px;
    transition: .7s;
    color: white;
    position: relative;
    min-width: 125px;
    margin: 20px 60px;
}

.question button:hover, .surveyBtn:hover {
    opacity: .5;
}


.question>h1 {
    padding: 0 100px;
    margin-bottom: 40px;
}
