.survey {
    background: linear-gradient(#5B8DA3, #76cccc);
    display: flex;
    flex-flow: column;
    height: 1000px;
    text-align: center;
}

.hello {
    margin-top: 15%;
    color: white;
    transition: 1s ease-in-out;
    
}

.hello h2 {
    margin-top: 40px;
    font-size: 1.2em;
}

.question {
    display: none;
    color: white;
    bottom: 20%;
    left: 100%;
    position: relative;
    transition: all 1s ease-in-out;
}

.question>button, .surveyBtn {
    margin: 20px 60px;
    padding: 10px;
    background-color: #30A2D0;
    border-radius: 10px;
    transition: .7s;
    color: white;
    min-width: 150px;
}

.question button:hover, .surveyBtn:hover {
    opacity: .5;
}

.questionTwo {
    bottom: 34%;
}

.questionThree {
    bottom: 48%;
}

.questionFour {
    bottom: 62%;
}

.questionFour>button {
    max-width: 250px;
}

.questionFive {
    bottom: 93%;
}

.questionFive>button {
    max-width: 350px;
}

.questionSix {
    bottom: 120%;
}

.questionSeven {
    bottom: 160%;
}

.questionEight {
     bottom: 180%;
}

.question>h1 {
    padding: 0 100px;
}