.navigation {
  background-color: #7280D7;
}

.navbar-nav>li {
  display: inline-block;
  margin-left: 30px;
  color: white;
}

.navbar-nav {
  display: inline-block;
}

.navbar-brand {
  text-decoration: none;
  color: white; 
  font-size: 20; 
  font-weight: 400;
}

.body {
  background: url("./img/home-background.jpg");
  background-size: cover;
  opacity: 0.5;
  z-index: -1; 
  padding-top: 60px; 
  height: 800px;
  width: 100%;
}

.search>h2 {
  opacity: 1; 
  color: white; 
  font-size: 1.3em; 
  margin-bottom: 20px; 
}

.search {
  margin: 5% 18%;
  padding: 40px 40px 25px 40px;
  text-align: center;
  background-color: black;
  opacity: .85;
}

.btn-primary {
  padding: 5px; 
}

form {
  max-width: 50%; 
  margin: 0 auto;
}

.advSearch {
  margin-top: -16px; 
  margin-bottom: 10px; 
  color: white; 
  text-align: right; 
}
